Package: com.peterdev.xeon
Name: Xeon
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 11.0), cy+cpu.arm64
Version: 1.0
Architecture: iphoneos-arm
Description: Supercharge status bar!
Replaces: com.alexzielenski.zeppelin, zeppelin
Provides: com.alexzielenski.zeppelin, zeppelin
Conflicts: com.alexzielenski.zeppelin, zeppelin
Maintainer: PeterDev <djperter@icloud.com>
Author: PeterDev <djperter@icloud.com>
Icon: https://nexusrepo.kro.kr/depictions/com.peterdev.xeon/screenshots/Icon.png
Section: Tweaks