<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Themes stored in /Library/Zeppelin&#10;GIF Themes stored in /Library/Xeon/GIF&#10;Signal Themes stored in /Library/Xeon/SIG</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>PeterDev</string>
			<key>user</key>
			<string>iospeterdev</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.peterdev.xeon</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>com.peterdev.xeon/settingschanged</string>
		</dict>

		<!-- Left/Right -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>XENLeftListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Left</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>XENRightListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Right</string>
		</dict>

		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Most of default theme logos are from Zeppelin&#10;Xeon by PeterDev</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Are you sure to restore default settings?</string>
				<key>title</key>
				<string>Okay</string>
				<key>okTitle</key>
				<string>Okay</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>label</key>
			<string>Restore default settings and respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>XENCreditListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Github</string>
			<key>subtitle</key>
			<string>Source code</string>
			<key>url</key>
			<string>https://github.com/peterprd/Xeon</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate to PeterDev</string>
			<key>subtitle</key>
			<string>Support me!</string>
			<key>url</key>
			<string>https://paypal.me/peterdev</string>
		</dict>
	</array>
	<key>title</key>
	<string>Xeon</string>
</dict>
</plist>